! Fonts {{{
Xft.antialias: true
Xft.hinting:   true
Xft.rgba:      rgb
Xft.hintstyle: hintfull
!Xft.dpi:       200
Xft.dpi:       150
!Xft.dpi:       146
!Xft.dpi:       136
!Xft.dpi: 180
Xft.autohint: 0
Xft.lcdfilter:  lcddefault
! }}}

